body{
    background-image: url('../image/bg.jpg');
}

td{
    height: 113px;
}

th{
    width: 270px;
}

.header{
    cursor: pointer;
}

.table-contain{
    margin-top: 100px;
    background-color: #FFFFFF;
}

.fa-caret-up{
    display: none;
}

.fa-caret-down{
    display: none;
}

.headerSortUp .fa-caret-up{
    display: inline-block;
}

.headerSortDown .fa-caret-down{
    display: inline-block;
}
